In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [28]:
data = pd.read_csv("train.csv")

C:\Users\gauravh\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (294,299,300,302,307,313,315,365,367,369) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
data.head()

,UCIC_ID,NO_OF_Accs,HNW_CATEGORY,vintage,EMAIL_UNSUBSCRIBE,OCCUP_ALL_NEW,city,dependents,zip,FINAL_WORTH_prev1,...,Query_Resolved_PrevQ1,Complaint_Logged_PrevQ1,Complaint_Resolved_PrevQ1,NO_OF_CHEQUE_BOUNCE_V1,Percent_Change_in_Credits,Percent_Change_in_FT_Bank,Percent_Change_in_FT_outside,Percent_Change_in_Self_Txn,Percent_Change_in_Big_Expenses,Responders
0,170114,1,2_Preferred,1947,NaN,HOUSEWIFE,BANGALORE,0.0,562114.0,HIGH,...,NaN,NaN,NaN,NaN,-94.757314,NaN,0.0,NaN,NaN,0
1,488013,1,1_Imperia,3082,NaN,SALARIED,MUMBAI,0.0,400015.0,HIGH,...,NaN,NaN,NaN,NaN,160.024566,NaN,0.0,NaN,0.0,0
2,435239,1,2_Preferred,572,NaN,SELF_EMPLOYED,HILI,NaN,733126.0,HIGH,...,NaN,NaN,NaN,NaN,273.771918,NaN,10.0,NaN,NaN,1
3,331646,1,3_Classic,773,NaN,SELF_EMPLOYED,NAMAKKAL,0.0,637410.0,HIGH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,226900,1,2_Preferred,1627,NaN,HOUSEWIFE,MUMBAI,0.0,400053.0,HIGH,...,NaN,NaN,NaN,NaN,399.997265,NaN,7.0,NaN,NaN,0

In [31]:
data.describe()

,UCIC_ID,NO_OF_Accs,vintage,dependents,zip,C_prev1,D_prev1,ATM_C_prev1,ATM_D_prev1,BRANCH_C_prev1,...,Req_Logged_PrevQ1,Query_Logged_PrevQ1,Complaint_Logged_PrevQ1,NO_OF_CHEQUE_BOUNCE_V1,Percent_Change_in_Credits,Percent_Change_in_FT_Bank,Percent_Change_in_FT_outside,Percent_Change_in_Self_Txn,Percent_Change_in_Big_Expenses,Responders
count,300000.000000,300000.000000,300000.000000,273618.000000,298950.000000,3.000000e+05,3.000000e+05,300000.0,3.000000e+05,3.000000e+05,...,2886.000000,2886.000000,2886.000000,3803.000000,2.035850e+05,11802.000000,1.456300e+05,8632.000000,6.279600e+04,300000.000000
mean,249915.632493,1.174657,2363.564607,0.342393,379079.235511,2.484302e+05,2.540842e+05,0.0,8.740553e+03,2.334571e+05,...,0.699931,0.384269,0.077270,1.167762,1.905398e+04,1.559905,3.168157e+02,7.686631,4.748973e+01,0.172323
std,144220.405548,0.446683,1611.605323,0.882159,204820.561270,5.854402e+06,5.202574e+06,0.0,3.488451e+04,5.575417e+06,...,0.661425,0.561888,0.295412,0.603115,1.329831e+06,1.846039,7.833545e+04,122.378736,4.981229e+03,0.377662
min,1.000000,1.000000,180.000000,0.000000,100015.000000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,1.000000,-1.000000e+02,0.000000,-1.125000e+03,0.000000,0.000000e+00,0.000000
25%,124929.750000,1.000000,1113.000000,0.000000,160014.000000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,1.000000,-5.140874e+01,0.000000,0.000000e+00,1.000000,0.000000e+00,0.000000
50%,249966.500000,1.000000,2021.000000,0.000000,400031.000000,0.000000e+00,6.377700e+03,0.0,0.000000e+00,0.000000e+00,...,1.000000,0.000000,0.000000,1.000000,1.587599e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,0.000000
75%,374718.250000,1.000000,3177.000000,0.000000,506001.000000,5.000000e+04,9.200000e+04,0.0,0.000000e+00,4.554157e+04,...,1.000000,1.000000,0.000000,1.000000,1.586466e+02,2.000000,3.000000e+00,2.000000,1.000000e+00,0.000000
max,499998.000000,26.000000,26704.000000,60.000000,999999.000000,1.878329e+09,1.747320e+09,0.0,2.519000e+06,1.858829e+09,...,8.000000,6.000000,3.000000,9.000000,5.116299e+08,9.000000,2.922361e+07,9592.000000,1.069858e+06,1.000000

In [12]:
data.isnull().any()

UCIC_ID                           False
NO_OF_Accs                        False
HNW_CATEGORY                      False
vintage                           False
EMAIL_UNSUBSCRIBE                  True
OCCUP_ALL_NEW                      True
city                               True
dependents                         True
zip                                True
FINAL_WORTH_prev1                  True
ENGAGEMENT_TAG_prev1               True
C_prev1                           False
D_prev1                           False
ATM_C_prev1                       False
ATM_D_prev1                       False
BRANCH_C_prev1                    False
BRANCH_D_prev1                    False
IB_C_prev1                        False
IB_D_prev1                        False
MB_C_prev1                        False
MB_D_prev1                        False
POS_C_prev1                       False
POS_D_prev1                       False
count_C_prev1                     False
count_D_prev1                     False
COUNT_ATM_C_prev1                 False
COUNT_ATM_D_prev1                 False
COUNT_BRANCH_C_prev1              False
COUNT_BRANCH_D_prev1              False
COUNT_IB_C_prev1                  False
                                  ...
Recency_of_BRANCH_TXN              True
Recency_of_POS_TXN                 True
Recency_of_MB_TXN                  True
Recency_of_Activity                True
I_AQB_PrevQ1                      False
I_AQB_PrevQ2                      False
I_CR_AQB_PrevQ1                   False
I_CR_AQB_PrevQ2                   False
I_CNR_PrevQ1                      False
I_CNR_PrevQ2                      False
I_NRV_PrevQ1                      False
I_NRV_PrevQ2                      False
CR_AMB_Drop_Build_1               False
CR_AMB_Drop_Build_2               False
CR_AMB_Drop_Build_3               False
CR_AMB_Drop_Build_4               False
CR_AMB_Drop_Build_5               False
Req_Logged_PrevQ1                  True
Req_Resolved_PrevQ1                True
Query_Logged_PrevQ1                True
Query_Resolved_PrevQ1              True
Complaint_Logged_PrevQ1            True
Complaint_Resolved_PrevQ1          True
NO_OF_CHEQUE_BOUNCE_V1             True
Percent_Change_in_Credits          True
Percent_Change_in_FT_Bank          True
Percent_Change_in_FT_outside       True
Percent_Change_in_Self_Txn         True
Percent_Change_in_Big_Expenses     True
Responders                        False
Length: 377, dtype: bool

In [14]:
data.dtypes

UCIC_ID                             int64
NO_OF_Accs                          int64
HNW_CATEGORY                       object
vintage                             int64
EMAIL_UNSUBSCRIBE                  object
OCCUP_ALL_NEW                      object
city                               object
dependents                        float64
zip                               float64
FINAL_WORTH_prev1                  object
ENGAGEMENT_TAG_prev1               object
C_prev1                           float64
D_prev1                           float64
ATM_C_prev1                         int64
ATM_D_prev1                       float64
BRANCH_C_prev1                    float64
BRANCH_D_prev1                    float64
IB_C_prev1                        float64
IB_D_prev1                        float64
MB_C_prev1                          int64
MB_D_prev1                          int64
POS_C_prev1                         int64
POS_D_prev1                       float64
count_C_prev1                       int64
count_D_prev1                       int64
COUNT_ATM_C_prev1                   int64
COUNT_ATM_D_prev1                   int64
COUNT_BRANCH_C_prev1                int64
COUNT_BRANCH_D_prev1                int64
COUNT_IB_C_prev1                    int64
                                   ...
Recency_of_BRANCH_TXN             float64
Recency_of_POS_TXN                float64
Recency_of_MB_TXN                 float64
Recency_of_Activity               float64
I_AQB_PrevQ1                      float64
I_AQB_PrevQ2                      float64
I_CR_AQB_PrevQ1                   float64
I_CR_AQB_PrevQ2                   float64
I_CNR_PrevQ1                      float64
I_CNR_PrevQ2                      float64
I_NRV_PrevQ1                      float64
I_NRV_PrevQ2                      float64
CR_AMB_Drop_Build_1               float64
CR_AMB_Drop_Build_2               float64
CR_AMB_Drop_Build_3               float64
CR_AMB_Drop_Build_4               float64
CR_AMB_Drop_Build_5               float64
Req_Logged_PrevQ1                 float64
Req_Resolved_PrevQ1                object
Query_Logged_PrevQ1               float64
Query_Resolved_PrevQ1              object
Complaint_Logged_PrevQ1           float64
Complaint_Resolved_PrevQ1          object
NO_OF_CHEQUE_BOUNCE_V1            float64
Percent_Change_in_Credits         float64
Percent_Change_in_FT_Bank         float64
Percent_Change_in_FT_outside      float64
Percent_Change_in_Self_Txn        float64
Percent_Change_in_Big_Expenses    float64
Responders                          int64
Length: 377, dtype: object

In [38]:
data=data.dropna(axis=1,how='all')
data=data.dropna(axis=0,how='all')

In [39]:
data.head()

,UCIC_ID,NO_OF_Accs,HNW_CATEGORY,vintage,EMAIL_UNSUBSCRIBE,OCCUP_ALL_NEW,city,dependents,zip,FINAL_WORTH_prev1,...,Query_Resolved_PrevQ1,Complaint_Logged_PrevQ1,Complaint_Resolved_PrevQ1,NO_OF_CHEQUE_BOUNCE_V1,Percent_Change_in_Credits,Percent_Change_in_FT_Bank,Percent_Change_in_FT_outside,Percent_Change_in_Self_Txn,Percent_Change_in_Big_Expenses,Responders
0,170114,1,2_Preferred,1947,NaN,HOUSEWIFE,BANGALORE,0.0,562114.0,HIGH,...,NaN,NaN,NaN,NaN,-94.757314,NaN,0.0,NaN,NaN,0
1,488013,1,1_Imperia,3082,NaN,SALARIED,MUMBAI,0.0,400015.0,HIGH,...,NaN,NaN,NaN,NaN,160.024566,NaN,0.0,NaN,0.0,0
2,435239,1,2_Preferred,572,NaN,SELF_EMPLOYED,HILI,NaN,733126.0,HIGH,...,NaN,NaN,NaN,NaN,273.771918,NaN,10.0,NaN,NaN,1
3,331646,1,3_Classic,773,NaN,SELF_EMPLOYED,NAMAKKAL,0.0,637410.0,HIGH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,226900,1,2_Preferred,1627,NaN,HOUSEWIFE,MUMBAI,0.0,400053.0,HIGH,...,NaN,NaN,NaN,NaN,399.997265,NaN,7.0,NaN,NaN,0

In [40]:
data.shape

(300000, 373)

#### Pandas has a helpful select_dtypes function which we can use to build new dataframe containing only object columns.

In [45]:
obj = data.select_dtypes(include=['object']).copy()

In [46]:
obj.head()

,HNW_CATEGORY,EMAIL_UNSUBSCRIBE,OCCUP_ALL_NEW,city,FINAL_WORTH_prev1,ENGAGEMENT_TAG_prev1,EFT_SELF_TRANSFER_PrevQ1,AGRI_TAG_LIVE,AL_CNC_TAG_LIVE,AL_TAG_LIVE,...,lap_tag_live,Billpay_Active_PrevQ1_N,Billpay_Reg_ason_Prev1_N,Charges_cnt_PrevQ1_N,FRX_PrevQ1_N,RBI_Class_Audit,gender_bin,Req_Resolved_PrevQ1,Query_Resolved_PrevQ1,Complaint_Resolved_PrevQ1
0,2_Preferred,NaN,HOUSEWIFE,BANGALORE,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
1,1_Imperia,NaN,SALARIED,MUMBAI,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,A_MISSING,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
2,2_Preferred,NaN,SELF_EMPLOYED,HILI,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
3,3_Classic,NaN,SELF_EMPLOYED,NAMAKKAL,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,RURAL,Male,NaN,NaN,NaN
4,2_Preferred,NaN,HOUSEWIFE,MUMBAI,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN

In [50]:
obj.isnull().any()

HNW_CATEGORY                 False
EMAIL_UNSUBSCRIBE             True
OCCUP_ALL_NEW                 True
city                          True
FINAL_WORTH_prev1             True
ENGAGEMENT_TAG_prev1          True
EFT_SELF_TRANSFER_PrevQ1     False
AGRI_TAG_LIVE                 True
AL_CNC_TAG_LIVE               True
AL_TAG_LIVE                   True
BL_TAG_LIVE                   True
CC_TAG_LIVE                   True
CE_TAG_LIVE                   True
CV_TAG_LIVE                   True
DEMAT_TAG_LIVE                True
EDU_TAG_LIVE                  True
GL_TAG_LIVE                   True
HL_TAG_LIVE                   True
SEC_ACC_TAG_LIVE              True
INS_TAG_LIVE                  True
LAS_TAG_LIVE                  True
MF_TAG_LIVE                   True
OTHER_LOANS_TAG_LIVE          True
PL_TAG_LIVE                   True
RD_TAG_LIVE                   True
FD_TAG_LIVE                   True
TL_TAG_LIVE                   True
TWL_TAG_LIVE                  True
lap_tag_live                  True
Billpay_Active_PrevQ1_N      False
Billpay_Reg_ason_Prev1_N     False
Charges_cnt_PrevQ1_N         False
FRX_PrevQ1_N                 False
RBI_Class_Audit              False
gender_bin                   False
Req_Resolved_PrevQ1           True
Query_Resolved_PrevQ1         True
Complaint_Resolved_PrevQ1     True
dtype: bool

In [53]:
obj[obj.isnull().any(axis=1)]

,HNW_CATEGORY,EMAIL_UNSUBSCRIBE,OCCUP_ALL_NEW,city,FINAL_WORTH_prev1,ENGAGEMENT_TAG_prev1,EFT_SELF_TRANSFER_PrevQ1,AGRI_TAG_LIVE,AL_CNC_TAG_LIVE,AL_TAG_LIVE,...,lap_tag_live,Billpay_Active_PrevQ1_N,Billpay_Reg_ason_Prev1_N,Charges_cnt_PrevQ1_N,FRX_PrevQ1_N,RBI_Class_Audit,gender_bin,Req_Resolved_PrevQ1,Query_Resolved_PrevQ1,Complaint_Resolved_PrevQ1
0,2_Preferred,NaN,HOUSEWIFE,BANGALORE,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
1,1_Imperia,NaN,SALARIED,MUMBAI,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,A_MISSING,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
2,2_Preferred,NaN,SELF_EMPLOYED,HILI,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
3,3_Classic,NaN,SELF_EMPLOYED,NAMAKKAL,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,RURAL,Male,NaN,NaN,NaN
4,2_Preferred,NaN,HOUSEWIFE,MUMBAI,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
5,2_Preferred,NaN,INDIVIDUAL,AHMEDABAD,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
6,3_Classic,NaN,SALARIED,DELHI,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
7,2_Preferred,NaN,INDIVIDUAL,SECUNDERA,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
8,3_Classic,NaN,SALARIED,DELHI,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
9,2_Preferred,NaN,RETIRED,GULBARGA,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
10,3_Classic,NaN,SELF_EMPLOYED,ETAWAH,HIGH,LOW,N,NaN,NaN,Y,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,URBAN,Male,NaN,NaN,NaN
11,3_Classic,NaN,SELF_EMPLOYED,NaN,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Male,NaN,NaN,NaN
12,3_Classic,NaN,SELF_EMPLOYED,NaN,MEDIUM,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Male,NaN,NaN,NaN
13,2_Preferred,NaN,SALARIED,CHENNAI,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,A_MISSING,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
14,3_Classic,Y,SALARIED,NEW DELHI,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,C_2,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
15,3_Classic,NaN,SELF_EMPLOYED,KURUKSHET,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
16,2_Preferred,NaN,HOUSEWIFE,JAHANGIRA,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Female,NaN,NaN,NaN
17,2_Preferred,NaN,SELF_EMPLOYED,THANE,HIGH,HIGH,N,NaN,NaN,Y,...,NaN,B_1,B_1,D_3,A_MISSING,URBAN,Male,NaN,NaN,NaN
18,1_Imperia,NaN,SALARIED,PANIPAT,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
19,2_Preferred,NaN,SELF_EMPLOYED,JAIPUR,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Male,NaN,NaN,NaN
20,1_Imperia,NaN,SELF_EMPLOYED,KOLKATA,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,C_2,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
21,2_Preferred,NaN,INDIVIDUAL,PANIPAT,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
22,2_Preferred,NaN,RETIRED,KOLKATA,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,B_1,B_1,B_1,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
23,1_Imperia,NaN,STUDENT,KOLKATA,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
24,3_Classic,NaN,STUDENT,MANDIGOBI,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,A_MISSING,A_MISSING,RURAL,Male,NaN,NaN,NaN
25,3_Classic,NaN,HOUSEWIFE,SUJANGARH,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,B_1,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
26,2_Preferred,NaN,HOUSEWIFE,BANGALORE,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
27,2_Preferred,NaN,INDIVIDUAL,JAMMU,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,B_1,A_MISSING,URBAN,Male,NaN,NaN,NaN
28,3_Classic,NaN,HOUSEWIFE,MAHARAJGA,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
29,2_Preferred,NaN,SELF_EMPLOYED,DHULE,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,2_Preferred,Y,SALARIED,KOLKATA,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
299971,2_Preferred,NaN,HOUSEWIFE,AJMER,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Female,NaN,NaN,NaN
299972,2_Preferred,NaN,SELF_EMPLOYED,HOSHIARPU,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,RURAL,Male,NaN,NaN,NaN
299973,2_Preferred,NaN,SALARIED,LUDHIANA,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
299974,2_Preferred,NaN,MISSING,VELLORE,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,A_MISSING,A_MISSING,URBAN,Female,NaN,NaN,NaN
299975,1_Imperia,NaN,SELF_EMPLOYED,BANGALORE,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Male,NaN,NaN,NaN
299976,3_Classic,NaN,RETIRED,NaN,MEDIUM,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,B_1,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
299977,2_Preferred,NaN,SALARIED,NaN,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,URBAN,Male,NaN,NaN,NaN
299978,2_Preferred,NaN,SALARIED,PUNE,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,B_1,A_MISSING,RURAL,Male,NaN,NaN,NaN
299979,2_Preferred,NaN,HOUSEWIFE,BANGALORE,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,B_1,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299980,3_Classic,NaN,INDIVIDUAL,GIRIDIH,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
299981,1_Imperia,NaN,SELF_EMPLOYED,JAIPUR,MEDIUM,HIGH,N,NaN,NaN,NaN,...,NaN,B_1,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299982,3_Classic,NaN,HOUSEWIFE,MUMBAI,MEDIUM,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299983,1_Imperia,NaN,HOUSEWIFE,AHMEDABAD,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,D_3,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
299984,2_Preferred,NaN,INDIVIDUAL,PATHANKOT,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
299985,3_Classic,NaN,SELF_EMPLOYED,BARGARH,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
299986,2_Preferred,NaN,SELF_EMPLOYED,MUMBAI,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,B_1,A_MISSING,D_3,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299987,2_Preferred,NaN,INDIVIDUAL,INDORE,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,D_3,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299988,3_Classic,NaN,HOUSEWIFE,PANCHKULA,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,C_2,A_MISSING,RURAL,Female,NaN,NaN,NaN
299989,2_Preferred,NaN,RETIRED,CHANDIGAR,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
299990,3_Classic,NaN,SELF_EMPLOYED,CHANDIGAR,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,URBAN,Male,NaN,NaN,NaN
299991,2_Preferred,NaN,STUDENT,THANE,MEDIUM,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299992,2_Preferred,NaN,SELF_EMPLOYED,DELHI,HIGH,HIGH,N,NaN,NaN,Y,...,NaN,A_MISSING,A_MISSING,C_2,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
299993,1_Imperia,NaN,HOUSEWIFE,DELHI,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,SEMI-URBAN,Female,NaN,NaN,NaN
299994,2_Preferred,NaN,SELF_EMPLOYED,YAMUNANAG,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,B_1,B_1,A_MISSING,A_MISSING,SEMI-URBAN,Male,NaN,NaN,NaN
299995,1_Imperia,NaN,SELF_EMPLOYED,PUNE,HIGH,HIGH,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299996,2_Preferred,NaN,SELF_EMPLOYED,TRAL,HIGH,MEDIUM,N,NaN,NaN,NaN,...,NaN,A_MISSING,B_1,A_MISSING,A_MISSING,SEMI-URBAN,Male,NaN,NaN,NaN
299997,2_Preferred,NaN,SELF_EMPLOYED,AGRA,HIGH,LOW,N,NaN,NaN,NaN,...,Y,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN
299998,2_Preferred,NaN,STUDENT,MUMBAI,HIGH,LOW,N,NaN,NaN,NaN,...,NaN,A_MISSING,A_MISSING,A_MISSING,A_MISSING,METROPOLITAN,Female,NaN,NaN,NaN
299999,3_Classic,NaN,SELF_EMPLOYED,DELHI,HIGH,MEDIUM,N,NaN,NaN,Y,...,NaN,A_MISSING,A_MISSING,B_1,A_MISSING,METROPOLITAN,Male,NaN,NaN,NaN

In [48]:
obj["EMAIL_UNSUBSCRIBE"].value_counts()

Y    13997
Name: EMAIL_UNSUBSCRIBE, dtype: int64

In [54]:
obj[obj.isnull()]

,HNW_CATEGORY,EMAIL_UNSUBSCRIBE,OCCUP_ALL_NEW,city,FINAL_WORTH_prev1,ENGAGEMENT_TAG_prev1,EFT_SELF_TRANSFER_PrevQ1,AGRI_TAG_LIVE,AL_CNC_TAG_LIVE,AL_TAG_LIVE,...,lap_tag_live,Billpay_Active_PrevQ1_N,Billpay_Reg_ason_Prev1_N,Charges_cnt_PrevQ1_N,FRX_PrevQ1_N,RBI_Class_Audit,gender_bin,Req_Resolved_PrevQ1,Query_Resolved_PrevQ1,Complaint_Resolved_PrevQ1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN